/*===============================================================
Blogs
===============================================================*/
.drink-blogs {
  margin-top: 20px;

  .drink-blogs__item {
    height: 450px;
    padding-right: 10px;

    .blogs-item__thumbs {
      max-width: 100%;
      height: 220px;
      margin-bottom: 20px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .blogs-item__title {
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      color: #5f6769;
      letter-spacing: 1px;
    }

    .blogs-item__title:hover {
      color: #d69f1e;
      cursor: pointer;
      text-decoration: none;
    }

    .blogs-item__info {
      font-size: 14px;
      color: #9ba6a5;
      margin-bottom: 5px;
    }

    .blogs-item__desc {
      margin-bottom: 10px;
      font-size: 14px;
      color: #5f6769;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .blogs-item__btn {
      color: #d69f1e;
      font-size: 16px;
    }

    .blogs-item__btn:hover {
      text-decoration: none;
      color: #000;
    }
  }
}
